<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hilfritz.myappportfolio">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".AppMainApplication"
        tools:replace="android:name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- needed provider for PlaceListFragment auto update of list -->
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.hilfritz.myappportfolio"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.music.search.SearchArtistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/search_activity" />

        <activity
            android:name=".ui.music.topten.TopTenTracksActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_top_ten_tracks" />
        <activity
            android:name=".ui.music.player.MusicPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_music_player" />
        <activity
            android:name=".ui.places.PlaceActivity"
            android:label="@string/title_activity_place"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.album.list.AlbumActivity"
            android:label="@string/title_activity_album">
        </activity>
        <activity
            android:name=".ui.album.photolist.AlbumPhotoActivity"
            android:label="@string/title_activity_album_photo" />
        <activity
            android:name=".ui.album.fullscreenphoto.FullsizePhotoActivity"
            android:label="@string/title_activity_fullsize_photo"></activity>
    </application>

</manifest>
